<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Sidebar CSS -->
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
  </head>

  <body>
    <!-- Sidebar -->
    <div th:replace="~{screens/sidebar :: sidebar}"></div>

    <!-- Content -->
    <div class="container mt-4">
      <h4 class="mb-4">Dados da Empresa</h4>
      <form th:action="@{register}" method="post" class="row g-3">
        <!-- Razão Social -->
        <div class="col-md-6">
          <label class="form-label">Razão Social</label>
          <input th:field="${client.razaoSocial}" type="text" class="form-control" />
        </div>

        <!-- CNPJ/CPF -->
        <div class="col-md-3">
          <label class="form-label">CNPJ/CPF</label>
          <input th:field="${client.cnpjCpf}" type="text" class="form-control" />
        </div>

        <!-- Inscrição Estadual -->
        <div class="col-md-3">
          <label class="form-label">Inscrição Estadual</label>
          <input th:field="${client.inscricaoEstadual}" type="text" class="form-control" />
        </div>

        <!-- Inscrição Municipal -->
        <div class="col-md-3">
          <label class="form-label">Inscrição Municipal</label>
          <input th:field="${client.inscricaoMunicipal}" type="text" class="form-control" />
        </div>

        <!-- Tributação -->
        <div class="col-md-3">
          <label class="form-label">Tributação</label>
          <select th:field="${client.tributacao}"  class="form-select" aria-label="Default select example">
            <option value="SEL" selected>SELECIONE</option>
            <option value="MEI">MEI</option>
            <option value="IMUNE_E_ISENTA">IMUNE e ISENTA</option>
            <option value="SIMPLES">SIMPLES</option>
            <option value="PRESUMIDO">PRESUMIDO</option>
            <option value="REAL">REAL</option>
            <option value="CONDOMINIO">CONDOMÍNIO</option>
          </select>
        </div>

        <!-- Tipo -->
        <div class="col-md-3">
          <label for="disabledSelect" class="form-label">Tipo:</label>
          <select th:field="${client.tipo}" class="form-select" aria-label="Default select example">
            <option value="SEL" selected>SELECIONE</option>
            <option value="MEI">MEI</option>
            <option value="IMUNE_E_ISENTA">IMUNE e ISENTA</option>
            <option value="GERAL">GERAL</option>
          </select>
        </div>

        <!-- Atividade Econômica -->
        <div class="col-md-3">
          <label class="form-label">Atividade Econômica</label>
          <select th:field="${client.atividadeEconomica}" class="form-select" aria-label="Default select example">
            <option value="SEL" selected>SELECIONE</option>
            <option value="COMERCIO">COMÉRCIO</option>
            <option value="SERVICOS">SERVIÇOS</option>
            <option value="SER_COMERCIO">SER/CORMERCIO</option>
            <option value="TERCEIRO_SETOR">3° SETOR</option>
            <option value="INDUSTRIA">INDUSTRIA</option>
          </select>
        </div>

        <!-- CEP -->
        <div class="col-md-3">
          <label class="form-label">CEP</label>
          <input th:field="${client.cep}" type="text" class="form-control" />
        </div>

        <!-- Logradouro -->
        <div class="col-md-6">
          <label class="form-label">Logradouro</label>
          <input th:field="${client.logradouro}" type="text" class="form-control" />
        </div>

        <!-- Número -->
        <div class="col-md-2">
          <label class="form-label">Número</label>
          <input th:field="${client.numero}" type="text" class="form-control" />
        </div>

        <!-- Complemento -->
        <div class="col-md-4">
          <label class="form-label">Complemento</label>
          <input th:field="${client.complemento}" type="text" class="form-control" />
        </div>

        <!-- Bairro -->
        <div class="col-md-4">
          <label class="form-label">Bairro</label>
          <input th:field="${client.bairro}" type="text" class="form-control" />
        </div>

        <!-- Cidade -->
        <div class="col-md-3">
          <label class="form-label">Cidade</label>
          <input th:field="${client.cidade}" type="text" class="form-control" />
        </div>

        <!-- UF -->
        <div class="col-md-1">
          <label class="form-label">UF</label>
          <input th:field="${client.uf}" type="text" class="form-control" />
        </div>

        <hr class="mt-4" />

        <h5 class="mt-4">Dados do Sócio</h5>

        <!-- Responsável -->
        <div class="col-md-6">
          <label class="form-label">Responsável</label>
          <input th:field="${client.responsavel}" type="text" class="form-control" />
        </div>

        <!-- CPF -->
        <div class="col-md-3">
          <label class="form-label">CPF</label>
          <input th:field="${client.cpf}" type="text" class="form-control" />
        </div>

        <!-- RG/CNH -->
        <div class="col-md-3">
          <label class="form-label">RG/CNH</label>
          <input th:field="${client.rgCnh}" type="text" class="form-control" />
        </div>

        <!-- Órgão Emissor -->
        <div class="col-md-2">
          <label class="form-label">Órgão Emissor</label>
          <input th:field="${client.orgaoEmissor}" type="text" class="form-control" />
        </div>

        <!-- UF Emissor -->
        <div class="col-md-1">
          <label class="form-label">UF</label>
          <input th:field="${client.ufDocumento}" type="text" class="form-control" />
        </div>

        <!-- Telefone -->
        <div class="col-md-3">
          <label class="form-label">Telefone</label>
          <input th:field="${client.telefone}" type="text" class="form-control" />
        </div>

        <!-- Celular -->
        <div class="col-md-3">
          <label class="form-label">Celular</label>
          <input th:field="${client.celular}" type="text" class="form-control" />
        </div>

        <!-- E-mail -->
        <div class="col-md-6">
          <label class="form-label">E-mail</label>
          <input th:field="${client.email}" type="email" class="form-control" />
        </div>

        <hr class="mt-4" />

        <!-- Status da Empresa, Cobrança, Contrato, Responsabilidades -->
        <div class="col-md-3">
          <label class="form-label">Status da Empresa</label>
          <select th:field="${client.statusEmpresa}" class="form-select" aria-label="Default select example">
            <option value="ATIVA" selected>ATIVA</option>
            <option value="INATIVA">INATIVA</option>
            <option value="SUSPENSA">SUSPENSA</option>
            <option value="EVENTUAL">EVENTUAL</option>
            <option value="BAIXADA">BAIXADA</option>
            <option value="TRANSFERIDA">TRANSFERIDA</option>
            <option value="PARALISADA">PARALISADA</option>
          </select>
        </div>

        <!-- VALOR DO HONORÁRIO -->
        <div class="col-md-3">
          <label class="form-label">Valor do Honorário</label>
          <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input
              th:field="${client.valorHonorario}"
              type="text"
              class="form-control"
              aria-label="Dollar amount (with dot and two decimal places)"
            />
          </div>
        </div>

        <!-- VENCIMETNO -->
        <div class="col-md-2">
          <label class="form-label">Vencimento</label>
          <input th:field="${client.vencimento}" type="number" max="30" min="1" class="form-control" />
        </div>

        <!-- CONTRATO -->
        <div class="col-md-3">
          <label class="form-label">Contrato</label>
          <select th:field="${client.contrato}" class="form-select" aria-label="Default select example">
            <option value="SEL" selected>SELECIONE</option>
            <option value="ASSINADO">ASSINADO</option>
            <option value="PENDENTE">PENDENTE</option>
            <option value="SEM_CONTRATO">SEM CONTRATO</option>
          </select>
        </div>

        <!-- SERVIÇOES ATIVOS -->
        <div class="col-md-6">
          <label class="form-label">Serviços Ativos</label>
          <div class="d-flex flex-wrap gap-2">
            <span class="badge bg-primary"
              >Contábil:
              <select
                th:field="${client.contabilidade}"
                class="form-select bg-primary text-white"
                aria-label="Default select example"
              >
                <option value="SEL" selected>SELECIONE</option>
                <option value="SIM">SIM</option>
                <option value="NAO">NÃO</option>
              </select>
            </span>
            <span class="badge bg-primary"
              >Fiscal:
              <select
                th:field="${client.fiscal}"
                class="form-select bg-primary text-white"
                aria-label="Default select example"
              >
                <option value="SEL" selected>SELECIONE</option>
                <option value="SIM">SIM</option>
                <option value="NAO">NÃO</option>
              </select>
            </span>
            <span class="badge bg-primary"
              >Folha:
              <select
                th:field="${client.folha}"
                class="form-select bg-primary text-white"
                aria-label="Default select example"
              >
                <option value="SEL" selected>SELECIONE</option>
                <option value="SIM">SIM</option>
                <option value="NAO">NÃO</option>
              </select>
            </span>
            <span class="badge bg-primary"
              >Financeiro:
              <select
                th:field="${client.financeiro}"
                class="form-select bg-primary text-white"
                aria-label="Default select example"
              >
                <option value="SEL" selected>SELECIONE</option>
                <option value="SIM">SIM</option>
                <option value="NAO">NÃO</option>
              </select>
            </span>
          </div>
        </div>

        <!-- Data do contrato -->
        <div class="col-md-3">
          <label class="form-label">Data do Contrato</label>
          <input th:field="${client.dataContrato}" type="date" class="form-control bg-success text-white" />
        </div>

        <!-- Observações -->
        <div class="col-md-9">
          <label class="form-label">Observações</label>
          <textarea th:field="${client.observacoes}" class="form-control" rows="2"></textarea>
        </div>

        <div class="col-12 text-end">
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </form>
    </div>
  </body>
</html>
